body{
    box-sizing: border-box;
    margin:0;
    height:100vh;
    background-color: #1f2937;
}

.container{
    background-color: #1f2937;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2% 8%;
    flex-flow:row wrap;
    margin: 0 auto;
    gap:32px;
}

header .left{
    font-size:28px;
    color:#f9faf8;
    font-weight: 600;
}

ul{
    margin:0;
    padding:0;
    display:flex;
    gap:16px;
}

li,.subtext{
    list-style-type: none;
    font-size:20px;
    color:#b8b9bb;
}

p{
    margin:0;
    padding:0;
}

.hero{
    display: flex;
}

.content,.image{
    flex:1 1 0;
}

.hero .content{
    max-width:30%;
}

.hero .image{
    width:510px;
    height:auto;
}

.hero img{
    width:100%;
    height:auto;
}

.hero button{
    border:none;
}

.hero .title{
    font-size:52px;
    font-weight:800;
    color:#f9faf8;
}

button{
    background-color: #3882f6;
    border-radius: 8px;
    padding:10px 25px;
    color:#f9faf8;
    /* border:none; */
    font-weight: bold;
    font-size:16px;
}

footer{
    background-color:#1f2937;
    color:#f9faf8;
    font-size:14px;
    margin-top: auto;
    padding:12px;
    text-align:center;
}

.content .title,.subtext,button{
    padding-bottom: 12px;
}

h3{
    font-size:36px;
    font-weight:800;
    color:#1f2937;
}

.quote{
    background-color:#e5e7eb;
}

.quote .top{
    font-size:36px;
    font-style:italic;
    font-weight:lighter;
    color:#1f2937
}

.quote .bottom{
    font-size:36px;
    font-weight:600;
    color:#1f2937
}

.action{
    background-color:#3882f6;
    color:white;
}




